form,
textarea
{
    font-family: Arial, Helvetica, sans-serif;
    color: #212121
}

.form-input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    position: relative;
  }

  .form-input input,
  .form-input textarea
  {
    display: block;
    position: relative;
    width: 100%;
    min-width: 250px;
    color: #212121;
    padding: 16px 8px;
    border-radius: 4px 4px 0 0;
    border: 2px;
    font-size: 14px;
    line-height: 1;
    outline: 1;
    transition: all 0.2s ease-in-out;
  }

  .form-input input[data-toolong="true"],
  .form-input input[data-toolong="true"] ~ label,
  .form-input textarea[data-toolong="true"],
  .form-input textarea[data-toolong="true"] ~ label
    {
      color: red
    }

  .form-input input[data-toolong="true"] ~ .length-counter,
  .form-input textarea[data-toolong="true"] ~ .length-counter
  {
    font-weight: 700;
    }


  .form-input input::placeholder,
  .form-input textarea::placeholder
  {
    color: transparent;
  }


.form-input input:focus ~ .length-counter,
.form-input textarea:focus ~ .length-counter
{
    color: #909090;
}

.form-input input ~ .length-counter,
.form-input textarea ~ .length-counter
{
    color: transparent;
    position: absolute;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}


.form-input textarea ~ .length-counter,
.form-input input ~ .length-counter
{

    top: 3px;
    right: 8px;

}




.form-input input[data-toolong="true"] ~ .length-counter,
.form-input textarea[data-toolong="true"] ~ .length-counter
{
    color: red;
}

.form-input label
 {
    position: absolute;
    color: #909090;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.form-input label
 {
    top: 15px;
    left: 8px;
}

/* .form-input textarea
 {
    position: absolute;
    top: 0px;
    left: 8px;
} */

.form-input input[data-hasinput="false"],
.form-input input:valid,
.form-input input:focus,
.form-input textarea[data-hasinput="false"],
.form-input textarea:valid,
.form-input textarea:focus

{
    padding: 22px 8px 10px;
}

.form-input input[data-hasinput="true"] + label,
.form-input input:focus + label,
.form-input textarea[data-hasinput="true"] + label,
.form-input textarea:focus + label
{
    font-size: 12px;
    transform: translate3d(0, -10px, 0);
}

.form-input input:focus::placeholder,
.form-input textarea:focus::placeholder {
    color: rgba(0,0,0,0.2);
}

.error-area{
    color: #909090;
    font-size: 12px;
    position: relative;
    left: 8px;
    max-width: 250px;
    word-break: break-all;
    word-wrap: break-word;
}

.suggestion{
    color: black;
    font-weight: 800;
    cursor: pointer;
}
