.form-input {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    position: relative;
  }

  .form-input input{
    display: block;
    width: 100%;
    color: #212121;
    padding: 16px 8px;
    border-radius: 4px 4px 0 0;
    border: 2px;
    font-size: 16px;
    line-height: 1;
    background: rgba(255,255,255,0.97);
    color: #212121;
    transition: all 0.2s ease-in-out;
    outline: 0
  }


  .form-input input::placeholder{
    color: transparent;
  }


.form-input .length-counter{
    color: #211111;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 12px;
}

.form-input label {
    position: absolute;
    top: 15px;
    left: 8px;
    color: #909090;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.form-input input[data-hasInput="false"],
.form-input input:valid,
.form-input input:focus {
    padding: 22px 8px 10px;
}

.form-input input:focus {
    background: rgba(255,255,255,1);
}

.form-input input[data-hasInput="true"] + label,
.form-input input:focus + label {
    font-size: 12px;
    transform: translate3d(0, -10px, 0);
}

.form-input input:focus::placeholder {
    color: rgba(0,0,0,0.2);
}
