.profile-full-page{
    width: 1400px;
    height: calc(100vh - 108px);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
}

.crud-left-col{
    width: 400px;
    margin-right: 20px;
    padding-top: 80px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.cover-up{
    position: absolute;
    width: 1000px;
    height: 100%;
    bottom: 0px;
    background-image: var(--alpha-dark-250);
    border: 5px solid red;
    backdrop-filter: blur(2px) brightness(80%) saturate(80%);
}

.crud-left-col .form-container{
    background-image: var(--glass-background-image);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: var(--glass-border-radius);
    padding: 10px;
    position: absolute;
    z-index: 100;
}


.page-short-info p{
    text-transform: uppercase;
}

.primary-info-col {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.top-banner{
    width: 100%;
    padding:20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-container{
   margin-right: 35px;
}

.banner-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.page-links{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.owner-menu-container{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
}


.secondary-info {
    display: flex;
    width: 100%;
    padding: 20px;
    height: 100%;
    margin-top: 20px;
}

.static-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    margin-right: 20px;
}

.detailed-description{
    width: 100%;
    padding: 20px;

}

.owner-tasks{
    width: 100%;
    margin: 20px 0px;
}

.action-column{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.newsfeed{
    width: 100%;
}

.newsfeed > div {
    margin-bottom: 20px;
    width: 100%;
}
