.drop-down-menu{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
    transition: var(--transition-easy)
}

.drop-down-menu.show-menu{
    transform: translate3d(0, -10px, 0)
}


.menu-area{
    width: 100%;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* bottom: -80px; */
    height: 150px;
    overflow: hidden;
    transition: var(--transition-very-easy)
}


.menu-button ~ .menu-area > *{
    transition: var(--transition-easy);
    width: calc(100% - 30px);
}

.menu-button:not(.show-menu) ~ .menu-area > *{
    transform: translate3d(0px, -300px, 0px)
}


.menu-area button,
.menu-area .like-button{
    width: calc(100%);
    margin: 5px 0px;
    box-shadow: var(--glass-box-shadow-light);
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}


i.rotate180{
    transform: rotate(180deg);
}

i.show-menu::before{
    color: var(--primary-600);
}
i.show-menu:hover::before{
    color: var(--primary-800);
}
