.user-details {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.user-details > * {
    width: fit-content;
}

.user-actions{
    display: flex;
    height: fit-content;
    justify-content: center;
}
