.browser-grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 60px;
    padding-top: 60px;
    justify-content: flex-start;
    top: 40px;
    box-shadow: inset var(--glass-box-shadow);
}
