.browser-card{
    margin: 30px 15px 45px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    position: relative;
    max-width: 275px;
    height: 400px;
    cursor: pointer;
    transition: var(--transition-easy);
}


.browser-card > a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-evenly;
    height: 100%;
}

.browser-card > a *{
text-align: center;
}

.browser-card .browser-card-info-area p{
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-style: italic; */
    text-transform: none;
    margin: 5px 0px 10px;
}


.browser-card-image-area{
    position: relative;
    top: -90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -90px;
}

.browser-card:hover{
    transform: translate3d(0,-2px, 0) scale(1.01);
    background-color:var(--alpha-400);
}

.browser-card-menu-button{
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-600);
    z-index: 3;
}

.browser-card-info-area{
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.browser-card-tiny-preview h6 {
    margin-bottom: 5px;
}

i.show-menu{
    transform: rotate(180deg);
    color: var(--primary-600);
}

i.show-menu > *{
    color: var(--primary--600);
}

i.show-menu::before{
    color: var(--primary--600);
}

.card-menu{
    width: calc(100% + 40px);
    padding: 5px 30px;
    position: absolute;
    left: -20px;
    bottom: -80px;
    height: 100px;
    overflow: hidden;
    transition: var(--transition-explode)
}

.browser-card-menu-button ~ .card-menu > *{
    transition: var(--transition-easy)
}

.browser-card-menu-button:not(.show-menu) ~ .card-menu > *{
    transform: translate3d(0px, -200px, 0px)
}

.card-menu button{
    width: calc(100% - 30px);
    margin: 0px 15px 10px;
    box-shadow: var(--glass-box-shadow-light);
    border-radius: 50px;

}

@media(min-width: 704px) and (max-width: 1371px){
    .browser-card{
        width: calc(100%/2 - 8px);
    }
}
