.browser-card{
    margin: 30px 15px 45px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 275px;
    height: 200px;
    cursor: pointer;
    transition: var(--transition-easy);
}


.browser-card *{
text-align: center;
}

.browser-card .browser-card-info-area p{
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-style: italic; */
    text-transform: none;
    margin: 5px 0px 10px;
    font-size: 10px;
}


.browser-card-image-area{
    position: relative;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}

.browser-card:hover{
    transform: translate3d(0,-10px, 2px) scale(1.05);
}

.browser-card-menu-button{
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-600);
    z-index: 3;
}

.browser-card-info-area{
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}




@media(min-width: 704px) and (max-width: 1371px){
    .browser-card{
        width: calc(100%/2 - 8px);
    }
}
