.external-links-form{
    display: flex;
    /* justify-content: flex-end; */
    width: fit-content;
}

.external-links-form .form-input {
    height: 50px;
    margin: 0px 0px 12px;

}

.external-links-form .form-input input{
    padding: 20px 8px;
    margin: 4px 0px;
}

.input-line{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: flex-end;
}

.icon-holder{
    height: 40px;
    width: 40px;
    margin: 0px 15px 10px 0px;
    background-color: var(--primary-800);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-easy);
    box-shadow: var(--glass-box-shadow);
}

.icon-holder:hover{
    background-color: var(--primary-1000);
}
.icon-image{
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
