:root{
    --neutral-1000: #161616;
    --neutral-800: #3d3d3d;
    --neutral-600: #696969;
    --neutral-400: #989898;
    --neutral-200: #CACACA;
    --neutral-000: #EFEFEF;
    --alpha-1000: rgba(58,52,42,1);
    --alpha-800: rgba(58,52,42,0.8);
    --alpha-600: rgba(58,52,42,0.6);
    --alpha-400: rgba(58,52,42,0.4);
    --alpha-250: rgba(58,52,42,0.25);
    --alpha-200: rgba(58,52,42,0.2);
    --alpha-dark-1000: rgba(48,45,40,1);
    --alpha-dark-800: rgba(48,45,40,0.8);
    --alpha-dark-600: rgba(48,45,40,0.6);
    --alpha-dark-400: rgba(48,45,40,0.4);
    --alpha-dark-250: rgba(48,45,40,0.25);
    --alpha-dark-200: rgba(48,45,40,0.2);
    --alpha-red-1000: rgba(236,68,37,1);
    --alpha-red-800: rgba(236,68,37,0.8);
    --alpha-red-600: rgba(236,68,37,0.6);
    --alpha-red-400: rgba(236,68,37,0.4);
    --alpha-red-200: rgba(236,68,37,0.2);
    --alpha-red-250: rgba(236,68,37,0.25);
    --neurtal-000: #EFEFEF;
    --primary-1000: #b90100;
    --primary-800: #d21612;
    --primary-600: #EC4425;
    --primary-400: #FF875E;
    --primary-200: #FFA87B;
    --primary-000: #FFE5CD;
    --accent-1000: #423B2B;
    --accent-800: #7E7665;
    --accent-600: #B3AA98;
    --accent-400: #cfc5b3;
    --accent-200: #ebe2ce;
    --accent-000: #FFF2D5;


    --title-family: tomarik-brush, sans-serif;
    --accent-family: aviano-slab, serif;
    --header-family: tomarik-brush, serif;
    --header-wide-family: tomarik-brush, serif;
    --subheader-family: 'Courier New', Courier, monospace;
    --body-family: 'Courier New', Courier, monospace;
    --digital-family: 'Courier New', Courier, monospace;

    --standard-weight: 400;
    --subheader-weight: 500;
    --heavy-weight: 900;

   --h1-size-desktop: 50px;
    --h1-size-tablet: 50px;
    --h1-size-mobile: 50px;

    --h2-size-desktop: 30px;
    --h2-size-tablet: 30px;
    --h2-size-mobile: 30px;

    --h3-size-desktop: 22px;
    --h3-size-tablet: 22px;
    --h3-size-mobile: 22px;

    --h4-size-desktop: 20px;
    --h4-size-tablet: 20px;
    --h4-size-mobile: 20px;

    --h5-size-desktop: 18px;
    --h5-size-tablet: 18px;
    --h5-size-mobile: 18px;

    --h6-size-desktop: 20px;
    --h6-size-tablet: 16px;
    --h6-size-mobile: 16px;

    --p-size-desktop: 15px;
    --p-size-tablet: 15px;
    --p-size-mobile: 15px;

    --a-size-desktop: 18px;
    --a-size-tablet: 18px;
    --a-size-mobile: 18px;

    --span-size-desktop: 15px;
    --span-size-tablet: 15px;
    --span-size-mobile: 15px;

    --button-size-desktop: 19px;
    --button-size-tablet: 16px;
    --button-size-mobile: 16px;

    --label-size-desktop: 12px;
    --label-size-tablet: 12px;
    --label-size-mobile: 12px;

    --textarea-size-desktop: 12px;
    --textarea-size-tablet: 12px;
    --textarea-size-mobile: 12px;

    --favicon-size-desktop: 25px;
    --favicon-size-tablet: 16px;
    --favicon-size-mobile: 16px;

    --transition-easy: all 0.2s ease-in-out;
    --transition-very-easy: all 0.8s ease-in-out;
    --transition-after-easy-delay: all 0.8s ease-in-out 0.8s;
    --transition-explode: all 0.2s cubic-bezier(.5,1.75,0,1.0);
    --transition-rev-up: all 0.2s cubic-bezier(.5,0,.5,-.75);

    --button-padding: 5px 10px;
    --button-border-radius: 100px;

    --glass-padding: 5px;
    --glass-border-radius: 30px;
    --glass-box-shadow-light:  0  8px 25px 0 rgba(0,0,0,0.2);
    --glass-box-shadow:  0  8px 25px 0 rgba(0,0,0,0.4);
    --glass-background-image: linear-gradient(var(--alpha-dark-200), var(--alpha-dark-250));

    --nav-height-desktop: 108px;
    --main-margin: 30px;
    --full-width-minus-main-margin: calc(100vw - 60px);

    --inner-scroll-box-shadow:  inset 0  8px 25px 0 var(--alpha-dark-800);

}

   .scroll-area{
      overflow-y: scroll;
      box-shadow: var(--inner-scroll-box-shadow);
   }

     /* Firefox */
  * {
   scrollbar-width: 15px;
   scrollbar-color: var(--alpha-dark-800) transparent;
   scroll-behavior: smooth;
 }

 /* Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
   width: 15px;
   margin: 5px;
 }

 *::-webkit-scrollbar-track {
   background: transparent;
 }

 *::-webkit-scrollbar-thumb {
   background-color: var(--alpha-dark-800);
   border-radius: var(--button-border-radius)
 }

 .glass,
 .red-glass,
 .bright-red-glass
 {
    background-image: var(--glass-background-image);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: var(--glass-border-radius);
    padding: 10px;
   }

   /* .red-glass{
      background-image: linear-gradient(var(--alpha-red-200), var(--alpha-red-250));
  }

  .bright-red-glass{
   background-image: linear-gradient(var(--alpha-dark-1000), var(--alpha-dark-800));
   } */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--accent-400);
    letter-spacing: 0.8px;
}



body{
    background-color: var(--neutral-1000);
    background-image: url('../public/assets/paper-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

main{
    padding-top: var(--nav-height-desktop);

}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--header-family);
   font-weight: 100;
   color: var(--accent-600);
   letter-spacing: 0.8px;
}

h1{
   font-size: var(--h1-size-desktop);

}

h2{
   font-size: var(--h2-size-desktop);
}

h3{
   font-size: var(--h3-size-desktop);
}

h4{
   font-size: var(--h4-size-desktop);
}

h5{
   font-size: var(--h5-size-desktop);
}

h6{
   font-size: var(--h6-size-desktop);
}


p{
    font-size: var(--p-size-desktop);
    font-family: var(--body-family);
    font-weight: var(--heavy-weight);
    color: var(--accent-400);
    letter-spacing: 0.8px;
    line-height: 1.3;
 }


a,
i,
a:visited,
button.icon-holder
{
   font-size: var(--a-size-desktop);
   font-family: var(--digital-family);
   font-weight: var(--heavy-weight);
   color: var(--accent-400);
   text-transform: uppercase;
   text-decoration: none;
   transition:var(--transition-easy);
   letter-spacing: 0.8px;
}

i{
   font-size: var(--favicon-size-desktop);
   letter-spacing: 0.8px;
}


a:visited{

   text-decoration: none;
}

a:active,
a.active{
   color: var(--primary-600);
}

/* a:active:hover,
a.active:hover{
   color: var(--primary-600);
} */

a:hover,
i:hover
{
    color: var(--primary-800);
    cursor: pointer;
}



span{
    font-size: var(--span-size-desktop);
    font-family: var(--body-family);
    font-weight: var(--heavy-weight);
    color: var(--accent-400);
    letter-spacing: 0.8px;
 }

 li{
     list-style: none;
     font-size: var(--span-size-desktop);
     font-family: var(--body-family);
     font-weight: var(--heavy-weight);
     color: var(--accent-400);
     letter-spacing: 0.8px;
 }

 button.icon-holder{
     background-color: transparent;
     border:none;
 }

 button.icon-holder:hover{
     background-color: transparent;
     border:none;
 }


button,
.like-button
{
    font-size: var(--button-size-desktop);
    font-family: var(--body-family);
    font-weight: var(--heavy-weight);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--neutral-1000);
    background-color: var(--primary-600);
    border: none;
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    transition: var(--transition-easy);
 }


 button:hover,
 .like-button:hover{
    background-color: var(--primary-800);
    transition: var(--transition-easy);
    color: var(--neutral-1000)
 }

label{
   font-size: var(--label-size-desktop);
   font: var(--accent-400) var(--main-header-font)
}

textarea{
   font-size: var(--textarea-size-desktop);
   font: var(--accent-400) var(--main-header-font)
}


.form-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

form,
textarea
{
    font-family: var(--body-family);
    font-weight: 900;
    color: var(--accent-200);
    padding: 15px;
}

.form-input, textarea {
    margin: 15px 0;
    border: 0;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    position: relative;
    background-image: var(--glass-background-image);
    border-radius: var(--button-border-radius);

  }

  .form-input input,
  .form-input textarea
  {
    display: block;
    position: relative;
    width: 100%;
    min-width: 320px;
    color: var(--accent-600);
    padding: 16px 8px;
    border-radius: 4px 4px 0 0;
    border: 0;
    font-size: 14px;
    line-height: 1;
    outline: 0;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }

form button{
      padding: 8px;
  }

  .form-input input[data-toolong="true"],
  .form-input input[data-toolong="true"] ~ label,
  .form-input textarea[data-toolong="true"],
  .form-input textarea[data-toolong="true"] ~ label
    {
      color: var(--primary-800)
    }

  .form-input input[data-toolong="true"] ~ .length-counter,
  .form-input textarea[data-toolong="true"] ~ .length-counter
  {
    font-weight: 700;
    }


  .form-input input::placeholder,
  .form-input textarea::placeholder
  {
    color: transparent;
  }


.form-input input:focus ~ .length-counter,
.form-input textarea:focus ~ .length-counter
{
    color: var(--neutral-600)
}

.form-input input ~ .length-counter,
.form-input textarea ~ .length-counter
{
    color: transparent;
    position: absolute;
    font-size: 12px;
    padding-right: 15px;
    transition: all 0.2s ease-in-out;
}


.form-input textarea ~ .length-counter,
.form-input input ~ .length-counter
{

    top: 3px;
    right: 8px;

}




.form-input input[data-toolong="true"] ~ .length-counter,
.form-input textarea[data-toolong="true"] ~ .length-counter
{
    color: var(--primary-800)
}

.form-input label
 {
    position: absolute;
    color: var(--neutral-600);
    margin-left: 15px;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-weight: 700;
}

.form-input label
 {
    top: 15px;
    left: 8px;
}

/* .form-input textarea
 {
    position: absolute;
    top: 0px;
    left: 8px;
} */

.form-input input[data-hasinput="false"],
.form-input input:valid,
.form-input input:focus,
.form-input textarea[data-hasinput="false"],
.form-input textarea:valid,
.form-input textarea:focus

{
    padding: 22px 8px 10px;
}

.form-input input[data-hasinput="true"] + label,
.form-input input:focus + label,
.form-input textarea[data-hasinput="true"] + label,
.form-input textarea:focus + label
{
    font-size: 12px;
    transform: translate3d(0, -10px, 0);
}

.form-input input:focus::placeholder,
.form-input textarea:focus::placeholder {
    color: var(--neutral-600)
   }

.error-area > div{
   color: var(--neutral-200);
   text-transform: uppercase;
    font-size: 12px;
    position: relative;
    left: 8px;
    max-width: 300px;
    word-break: break-all;
    word-wrap: break-word;
}

.error-area{
    position: relative;
    left: -10px;
    max-width: 300px;
    word-break: break-all;
    word-wrap: break-word;
}


.suggestion{
    color: var(--neutral-200);
    border-radius: 12px;
    font-weight: 800;
    cursor: pointer;
    padding: 0px 10px;
    background-color: var(--alpha-red-600);
}

.database-errors{
    padding-top: 2px;
}

form{
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
}

button:disabled,
button[disabled]{
  /* border: 1px solid red;
  background-color: pink;
  color: #666666; */
}



input:-internal-autofill-selected {
   appearance: menulist-button;
   background-image: none !important;
   background-color: inherit !important;
   color: inherit !important;
}
