.navigation{
    display: flex;
    justify-content: space-between;
    width: var(--full-width-minus-main-margin);
    margin: var(--main-margin);
    position: fixed;
    z-index: 10000;
    top: 0px;
    opacity: 60%;
}

.session-links{
    width: 500px;
    display: flex;
    align-items: center;
}

.site-logo{
    padding: 5px 10px;
}

.site-logo img{
    width: 100%;
}

.session-links{
    justify-content: flex-end;
    align-items: center;
}


.text-links{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}
.text-links > *{
    margin-right: 50px;
}


.log-in-menu{
    position: relative;
    width: 500px;
}


.log-in-menu > .drop-down-menu{
    right: 13px;
    top: 9px;
    width: 200px;
}

.hello-user{
    position: absolute;
    right: 60px;
    top: 14px;
}

.fa-user-astronaut:before{
    font-size: 30px;
}
