.navigation{
    display: flex;
    justify-content: space-between;
    width: var(--full-width-minus-main-margin);
    margin: var(--main-margin);
    position: fixed;
}

.site-logo,
.session-links{
    width: 300px;
    display: flex;
    align-items: center;
}

.session-links{
    justify-content: flex-end;
    align-items: center;
}

.text-links{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
