:root{
    --extra-large-image-size: 300px;
    --large-image-size: 132px;
    --medium-image-size: 135px;
    --small-image-size: 40px;
    --extra-small-image-size: 30px;
    --extra-large-font-size: 300px;
    --large-font-size: 120px;
    --medium-font-size: 120px;
    --small-font-size: 28px;
    --extra-small-font-size: 24px;
}

.profile-image-container{
    border-radius: 50%;
    background-size: cover;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--glass-box-shadow);
}

.profile-image-container.extra-large{
    width: var(--extra-large-image-size);
    height: var(--extra-large-image-size);
}

.profile-image-container.large{
    width: var(--large-image-size);
    height: var(--large-image-size);


}
.profile-image-container.medium{
    width: var(--medium-image-size);
    height: var(--medium-image-size);


}
.profile-image-container.small{
    width: var(--small-image-size);
    height: var(--small-image-size);

}


.profile-image-container.extra-small{
    width: var(--extra-small-image-size);
    height: var(--extra-small-image-size);

}

span.fake-image{
    font-weight: 700
}

span.fake-image.extra-small{
    font-size: var(--extra-small-font-size)
}
span.fake-image.small{
    font-size: var(--small-font-size)
}
span.fake-image.medium{
    font-size: var(--medium-font-size)
}
span.fake-image.large{
    font-size: var(--large-font-size)
}
span.fake-image.extra-large{
    font-size: var(--extra-large-font-size)
}
