:root{
    --extra-large-size: 300px;
    --large-image-size: 132px;
    --medium-image-size: 90px;
    --small-image-size: 30px;
    --extra-small-image-size: 20px;
}

.profile-image-container{
    border-radius: 50%;
    background-size: cover;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--glass-box-shadow);
}

.profile-image-container.extra-large{
    width: var(--extra-large-size);
    height: var(--extra-large-size);
}

.profile-image-container.large{
    width: var(--large-image-size);
    height: var(--large-image-size);


}
.profile-image-container.medium{
    width: var(--medium-image-size);
    height: var(--medium-image-size);


}
.profile-image-container.small{
    width: var(--small-image-size);
    height: var(--small-image-size);

}


.profile-image-container.extra-small{
    width: var(--extra-small-image-size);
    height: var(--extra-small-image-size);

}

span.fake-image.extra-small{

}
span.fake-image.small{

}
span.fake-image.medium{
    font-size: 48px;
    font-weight:700;
}
span.fake-image.large{

}
span.fake-image.extra-large{

}
